BasedOnStyle: Google
IndentWidth: 4
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Allman
ColumnLimit: 150
PointerAlignment: Right
DerivePointerAlignment: false
IndentCaseLabels: false
NamespaceIndentation: None
AlignConsecutiveAssignments: true
